.table-wrap {
    height: 80%;
    overflow-y: auto;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    width: 98%;
}

/* .panel-header-warp {
    margin-left: 1%; 
} */

#download {
    float: right;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 20px;
}